numpy
Pillow
scipy
cffi
pip
tornado
pyzmq
pexpect
attrs
jedi
pytz
tqdm
requests
Jinja2
Werkzeug==0.16.1
itsdangerous
click
setuptools
six
webencodings
packaging
bleach
python-dateutil
certifi
chardet
Pygments
traitlets
testpath
decorator
backcall
pickleshare
wcwidth
ptyprocess
greenlet
nbformat
nbclient
nbconvert
jsonschema
terminado
idna
urllib3
aniso8601
defusedxml
pandocfilters
mistune
entrypoints
pyparsing
pycparser
Flask
Flask-Cors
Flask-Executor
flask-restplus
cycler
pyrsistent
ujson